/*Déclarations générales*/

* {
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

body,
html {
    max-width: 100vw;
    width: 100%;
}

p {
    font-size: calc(14px + 0.300625vw);
    font-family: 'Open Sans', sans-serif
}

h1 {
    font-size: 1.6rem;
    font-family: 'Andika', sans-serif;
}

h2 {
    font-size: 1.4rem;
    font-family: 'Andika', sans-serif;
}

h3 {
    font-size: 1.2rem;
    font-family: 'Andika', sans-serif;
}

.citation {
    font-style: italic;
    font-size: 80%;
}

.container {
    margin: 20vh auto; 
    text-align: center;
}