html,
body {
    margin: 0;
    max-width: 100vw;
    height: 100%;
    box-sizing: border-box;
    color: rgb(226, 239, 250);
}

main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;

    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* keep hidden question blocks */
.question {
    /* display: none; */
}

/* picture container: center, limit size, hide overflow */
.picture {
    width: 100%;
    max-width: 720px;
    margin: auto;
    max-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.picture img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: contain;
    display: block;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
    filter: blur(2vh);
}

/* layout improvements */
.gauche {
    grid-area: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
}

.background {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.picture {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 1;
}

.droite {
    grid-area: 1 / 2;
    padding: 10%;
    display: flex;
    flex-direction: column;
    background-color: #362b2b;
}

.droite input {
    margin-top: 5%;
}

/* small screens: stack columns */
@media (max-width: 800px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        min-height: 100vh;
    }

    .question {
        /* display: none; */
    }

    .gauche,
    .droite {
        grid-area: auto;
        height: 50vh;
    }

    .picture {
        max-width: 100%;
        max-height: 45vh;
    }
}